.home {
    text-align: center;
}

.home h1 {
    font-size: 2em;
}

.links > * {
  border: none;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #1052bb;
  padding: 10px 20px;
  border-radius: 4px;
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 0 10px;
}

.links > *:hover {
    background-color: darkblue;
}
